
.dt-button.buttons-columnVisibility
{
  display:inline-block;
  border:0.05em solid black;
  border-radius:20px;
  box-sizing: border-box;
  background-color: lightgray;
  text-align:center;
  text-transform: uppercase;
  transition: all 0.2s;
}
.dt-button.buttons-columnVisibility.focus,
.dt-button.buttons-columnVisibility.active{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 1.2em 0;
  border:0.1em solid rgba(255,255,255,0);
  border-radius:20px;
  box-sizing: border-box;
  background-color: #00008B;
  text-align:center;
  transition: all 0.2s;
 
}

.dt-button.buttons-columnVisibility span { font-size: 10; color: black;     font-family:'Courier New','Courier','monospace';}
.dt-button.buttons-columnVisibility.focus span,.dt-button.buttons-columnVisibility.active span { font-size: 11; color: white;     font-family:'Courier New','Courier','monospace';}

th { font-size: 12px; }
td { font-size: 11px; }


